@import url("./grid.css");

* {
    box-sizing: border-box;
}    

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

h1 {
    font-size: 70px;
    margin: 0px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.596);
    color: white;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    font-family: 'Neucha', cursive;
}

body {
    background-image: url("../img/bg.jpg");
    background-size: 100%; 
    background-attachment: no-repeat;
    background-attachment: fixed;
    background-position: 100%;
}

.card {
    margin: 10px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.87);
}

p {
    color: white;
    font-size: 20px;
    text-align: justify;
    padding: 10px;
    font-family: 'Neucha', cursive;
}

.col-6 {
    width: calc(50% - 20px);
}

.col-12 {
    width: calc(100% - 20px);
}

.col-3 {
    width: calc(25% - 20px);
    margin-top: 150px;
}

img {
    height: 100%;
    width: 100%;
    padding: 10px;
}

.col-3 p {
    font-size: 15px;
} 

.col-3 img {
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

.slider {
    padding: 0;
    margin: 0 30px;
    list-style-type: none;
}

.slider > li {
    display: none;
}

.slider > li.active {
    display: block;
}

p.qq {
	position: absolute;
	top: 20px;
    right: 20px;
    color: white;
}

li.active  {
    position: relative;
}
