body {
    margin: 0;
    font-family: 'Alegreya SC', serif;
    background-color: #f5f5f5;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}


.up {
    display: grid;
    background-color: black;
    color: whitesmoke;
    grid-template-columns: 5fr 1fr 2fr;
    height: 40px;
    width: calc(100vw-20px);
}

header ul.list-1 {
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-size: 1.3em;
}

header ul.list-2 {
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.3em;
}

header li {
    display: grid;
    align-items: center;
    justify-items: center;
}

header a {
    color: whitesmoke;
    text-decoration: none;
}

header li:hover {
    background-color:whitesmoke;
}

header a:hover {
    color: black;
}

.down {
    display: grid;
    background-color: #f5f5f5;
    color: black;
    grid-template-columns: 2fr 4fr 2fr; 
    height: 110px;
    column-gap: 10px;
}
.logo {
    justify-items: center; 
}

header form {
    display: grid;
    grid-template-columns: 5fr 1fr;
    column-gap: 10px;
    align-items: center;
    margin: 0;
}

header p {
    font-size: 1.3em;
    color: black;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
    margin: 5px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;   
    justify-items: center;
    margin: 20px;
    align-content: center;
    margin-bottom: 80px;
}

.cards {
    align-content: center;
    justify-items: center;
}

.cards:hover.cards img{
    transform: scale(1.1);
}


main p {
    margin: 0;
}


button {
    background-color: #45b09c;
    float: right;
    font-family: 'Alegreya SC', serif;
    padding: 5px;
    text-transform: uppercase;
    border-radius: 5px;
}

input {
    font-family: 'Alegreya SC', serif;
    padding: 5px;
    border: none;
    border-bottom: 2px solid #45b09c;
    background-color: whitesmoke;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    justify-items: center;
    background-color: black;
    color: whitesmoke;
    font-size: 0.8em;
    padding-bottom: 20px;
}

footer li {
    margin: 0px;
    color: rgb(87, 85, 85);
    padding: 0;
    list-style-type: none;
}

footer h3 {
    text-transform: uppercase;
    font-weight: normal;
}
